*{
    background-color: #181818;
}
main{
    zoom: 0.9;
}

.container{
    background-color: #181818;
}
aside{
    display: none;
}
.dNone{
    display: none;
}

.videoSection{
    width: 80%;
    margin: auto;
    color: white;
    display: flex;
    gap: 10px;
}

.mainVideoSection{
    /* width: 640px; */
    flex-grow: 3;
}

.moreVideos{
    /* max-width: 400px; */
    flex-grow: 2;
    min-width: 400px;
}

.videoFrame{
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 16/9;
    background-color: grey;
}

.playVideo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.videoTitle{
    font-weight: 600;
}

.videoDetails{
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    color: grey;
}

.videoProps{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin: 0 10px;
}

hr{
    height: 0.5px;
    border-color: grey;
}

.channelDetails{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.lg{
    width: 50px !important;
    height: 50px !important;
    margin: 0 10px;
}

.channelProps{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.channelInfo{
    display: flex;
    justify-content: space-between;
}

.channelName{
    font-weight: 500;
    margin-bottom: 5px;
}

.subscribers{
    color: grey;
    font-size: 0.9rem;
}

#subscribeBtn{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.3rem 0.7rem;
    color: white;
    background-color: darkred;
    border-radius: 5px;
}

.showMore, .commentReply{
    color: grey;
    font-weight: 600;
    align-self: flex-start;
    margin: 3px 10px;
    cursor: pointer;
    display: flex;
}

.commentCount{
    display: flex;
    margin: 10px;
}

.commentContainer{
    display: flex;
    /* align-items: center; */
    gap: 15px;
    margin: 20px;
}

.inputComment{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
    width: 100%;
}
.addComment{
    width: 100%;
}

.commentDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentTitle{
    font-weight: 500;
    font-size: 1.05rem;
}

.commentTitle span:nth-child(2){
    font-weight: 400;
    font-size: 0.95rem;
    color: grey;
    margin: 0 10px;
}

.commentProps{
    display: flex;
    gap: 10px;
    color: grey;
    align-items: center;
}

.videoFilter{
    background-color: transparent !important;
}

.videoCard{
    display: flex;
    gap: 7px;
    align-items: center;
    transition: 0.2s ease-in-out;
    margin: 5px 0;
}

.videoCard:hover{
    scale: 1.02;
}

.listVideoThumbnail{
    position: relative;
    height: 93px;
    width: 150px;
    background-color: grey;
    border-radius: 2px;
    overflow: hidden;
}

.listVideoDetails{
    width: 60%;
}

.listVideoDuration{
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    padding: 4px;
    border-radius: 5px;
}

.listVideoTitle{
    font-weight: 500;
}

.listVideoInfo{
    color: grey;
    margin: 3px 0;
    font-size: 0.9rem;
}

@media all and (max-width: 950px) {
    .videoSection{
        flex-direction: column;
        width: 100%;
    }

    .container{
        margin: auto;
        width: 98vw;
    }

    .moreVideos, .videoCard, .mainVideoSection{
        width: 100%;
    }

    .videoProps, .moreVideos ul, .commentSection{
        display: none;
    }

    .dNone{
        display: block;
    }
}