.upload-details-likes-dislikes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
.hero-section{
    display: flex;
    position: absolute;
    margin-top: 5vh;
    left: 5vw;
}
main{
    width: 60vw;
}
.video-details p{
    font-size: 10px;
}
.left-panel img {
  padding: 8px;
  cursor: pointer;
}
.left-panel{
  overflow: hidden;
  font-size: 12px;
  padding-bottom: 20px;
}
.left-panel span{
  display: flex;
}
.last span{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.last{
  margin-bottom: 100px;
}
.last span img{
width: 50px;
height: 50px;
border-radius:40px;
}
.scrollable-content{
  width: calc(100% + 17px);
  height: 100%;
  overflow: auto;
  padding-right: 17px;
}
.card{
    display: flex;
    width: 380px;
}
.card-decreased{
    display: flex;
    width: 480px;
}
.aside-decreased{
    width: 15vw;
}
.main-decreased{
     width: 40vw;
}
.interests-video-details{
    margin-top: 10px;
}
.interests-video-details span{
    cursor: pointer;
}
.video-thumbnail{
    width: 150px;
}
.options{
    display: flex;
    align-items: center;
    gap: 15px;
}
.video-suggestions{
    margin-top: 30px;
}

aside{
    width: 15vw;
    margin-left: 20px;
}
.likes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dislikes{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    margin-top: 20px;
}
.subscribe{
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.subscribed{
  background-color: #ccccc6;
  font-weight: 700;
  color: rgb(43, 42, 42);
}
.channel-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.channel-name-and-subs{
    display: flex;
    align-items: center;
}
.video-details{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.description{
    margin-inline: auto;
    width: 50vw;
    padding-bottom: 20px;
}
.description-container{
    border-bottom: 1px solid grey;
}
.comments-header{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}
.comment-input{
    display: flex;
    align-items: center;
    margin-bottom:30px;
}
.profile-pic{
    height: 50px;
    width: 50px;
}
.input-comment{
    background: transparent;
    border: none;
    color: grey;
    margin-left: 10px;
    width: 60vw;
    height: 30px;
    font-size: 15px;
    border-bottom: 1px solid grey;
}
.like-dislike-reply{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
}
.like-button, .reply-button{
    height: 50px;
    width: 50px;
}
.comment-info{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.user-info{
    margin-left: 15px;
}
.user-comment{
    margin-top: 8px;
}
.user-channel{
    cursor: pointer;
}
